<div class="vh-100 row justify-content-center align-items-center m-0">
  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <h3>Login to TaskMinder</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          [formControl]="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          [formControl]="password"
        />
      </div>
      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="remember"
          [formControl]="remember"
        />
        <label class="form-check-label" for="remember">Remember me</label>
      </div>
      <button
        type="submit"
        class="btn btn-primary w-100"
        [disabled]="!loginForm.valid || submitting"
      >
        <span *ngIf="!submitting; else loading">
          <i class="bi bi-lock-fill px-2"></i>
          Login</span
        >
      </button>
    </form>
  </div>
</div>

<ng-template #loading>
  <span class="spinner-border text-light spinner-border-sm"></span>
</ng-template>
