<nav class="h-100 d-flex flex-column justify-content-between p-3">
  <div>
    <div class="text-center fs-5 py-4">
      <i class="bi bi-diamond text-primary"></i>
      <span class="mx-2">TaskMinder</span>
    </div>

    <ul class="nav nav-pills nav-fill flex-column">
      <li *ngFor="let tab of tabs" class="nav-item">
        <a
          class="nav-link my-2 text-start ps-3"
          [routerLink]="['./', tab.route]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i [class]="tab.icon"></i>
          <span class="mx-3">{{ tab.title }}</span></a
        >
      </li>
    </ul>
  </div>

  <div>
    <button class="btn btn-danger w-100 my-3" (click)="logout()">
      <i class="bi bi-arrow-90deg-left"></i>
      <span class="mx-3">
        {{ !loggingout ? "Logout" : "Logging out" }}
        <span *ngIf="loggingout"> ...</span>
      </span>
    </button>
  </div>
</nav>
