<header class="d-flex justify-content-between mt-5 mb-3">
  <span class="fs-4">Calender</span>
  <div
    class="d-flex justify-content-between align-items-center pointer"
    style="min-width: 280px"
  >
    <i class="bi bi-arrow-90deg-left"></i>
    <i class="bi bi-arrow-90deg-right"></i>
    <i class="bi bi-people"></i>
    <i class="bi bi-sliders"></i>
    <button class="d-inline btn btn-sm btn-primary px-3">
      New Task
      <i class="bi bi-plus-lg mx-2"></i>
    </button>
  </div>
</header>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ut
  perferendis consequatur in consectetur est deleniti, corporis numquam omnis
  velit atque porro officiis nemo. Nulla sunt unde quae voluptas nemo.
</p>
